#login{
	padding-top: 2em;
}
.navbar-brand img{
	width: 4em;
	height: 2em;
	float: left;
}

.system{
	float: left;
	margin-left: 1em;
}
#page-wrapper, #heda-left{
	float: left;
}
#page-wrapper{
	margin-left: 4em;
	width: 70%;
}

.act_img img{
	width: 2em;
	margin-left: 1.5em;
}
.username{
	text-transform: capitalize;
}
input[type='text']{
	text-transform: capitalize;
}
table.mytable{
	width: 100%;
}
#report_heading{
	padding-top: 3em;
	padding-bottom: 1em;
}
#contact{
	margin-top: 3em;
	margin-left: 20%;
}
.big_table th{
}